.usertab-cont-background{
    width: 500px;
    height: auto;
    min-height: 300px;
    background-color: #F4F4F4;
    display: flex;
    border-radius: 5px;

}
.usertab-cont-purple{
    justify-self: end;
    height: auto;
    min-height: 300px;
    width: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #9357F7;
}
.usertab-cont-info{
    
    height: auto;
    min-height: 300px;
    width: 450px;
    padding: 15px;
    padding-bottom: 20px;
}
.table{
    width: 450px;
    border: none;
    border-collapse: collapse;
    border-spacing: 0px;
}
.usertab-thead{
    color: #9357F7;
    margin-bottom: 10px;
}
.usertab-user-image{
    height: 33px;
    width: 33px;
    border-radius: 20px;
}

.usertab-fila{
    cursor: pointer;
    background-color: #e6e6e6;
    border-radius: 5px;
    height: 34px;
    margin: 5px;
    padding-top: 10px;
}
.usertab-fila::after{
    margin-top: 10px;
}
.usertab-user-image-table{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-style: none;
}
.usertab-options{
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    background-color: #e6e6e6;
    width: 32px;
    border-radius: 50px;
}
.usertab-options:hover{
    background-color: #dddddd;
}

table tbody tr{
    border-top: 10px solid #F4F4F4;
}

.usertab_icon_image{
    height: 20px;
    width: 20px;
}